body {
    background-color: rgba(24, 56, 140, 0.48);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-transition: background 300ms ease-in 200ms;
    /* property duration timing-function delay */
    -moz-transition: background 500ms ease-out 200ms;
    -o-transition: background 300ms ease-in 200ms;
    transition: background 300ms ease-in 200ms;
}
.weather {
    margin-top: 10%;
    display: none;
    opacity: .8;
}
.title {
    opacity: 1;
    color: rgb(150, 150, 150);
    font-family: 'Open Sans', sans-serif;
}
.city {
    font-weight: bold;
    font-style: italic;
}
.warm {
    background-image: url("http://www.mrwallpaper.com/wallpapers/sunny-day-landscape.jpg");
}
.result {
    opacity: 1;
    font-family: 'Open Sans', sans-serif;
}
